.footer {
    padding-top: var(--spacing-64);
    padding-bottom: var(--spacing-24);
    padding-left: var(--spacing-32);
    padding-right: var(--spacing-32);
    background-color: var(--color-grey);
}

